<header class="header-container">

    <div class="breadcrumb-container">
        <span [routerLink]="['']" class="text-secondary pointer">Home </span>
        <span class="text-secondary">></span>
        <span [routerLink]="['/dashboard']" routerLinkActive="active-link"  class="text-secondary pointer"> Dashboard</span>
    </div>

    <div class="right-container">
        <div class="search-container">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Search anything..." class="search-box" (input)="onSearch($event)"/>
        </div>

        <div class="user-profile">
            <i class="bi bi-person-circle fs-4"></i>
            <span>User</span>
        </div>
    </div>
</header>